<section class="h-auto flex flex-col justify-center items-center">
<h1 class="text-primary text-4xl lg:text-5xl font-black my-6  ">EQUIPOS GYM</h1>
<article class="grid grid-cols-2  lg:grid-cols-3 gap-4">

    <div class="grid grid-cols-2 shadow-white shadow hover:shadow-primary transition rounded-md">
        <div class="lg:h-44 ">
            <img  class="h-full object-cover w-full" src="https://img.freepik.com/fotos-premium/equipo-gimnasio-pesas-mancuernas-deporte_97875-143.jpg" alt="">
        </div>
        <div class=" text-center flex justify-center items-center flex-col">
            <p class="text-white text-xl font-bold " >Mancuerdas</p>

        </div>
    </div>
    <div class="grid  grid-cols-1 lg:grid-cols-2">
        <div>
            <img src="https://img.freepik.com/fotos-premium/equipo-gimnasio-pesas-mancuernas-deporte_97875-143.jpg" alt="">
        </div>
        <p>Mancuerdas</p>
    </div>
    <div class="grid grid-cols-2">
        <div>
            <img src="https://img.freepik.com/fotos-premium/equipo-gimnasio-pesas-mancuernas-deporte_97875-143.jpg" alt="">
        </div>
        <p>Mancuerdas</p>
    </div>
</article>
</section>