---
import Layout from '../layouts/Layout.astro';
import InfoMain from '../sections/SectionsIndex/info.astro'
import Navbar from '../sections/NavSections/Navbar.astro'
import SliderGym from '../sections/OurGymSections/sliderGym.astro'



---

<Layout title="otro">
	<Navbar />
	<InfoMain />
	<main  >
		<SliderGym />
	</main>
 
</Layout>


