---
import Layout from '../layouts/Layout.astro';
import Navbar from '../sections/NavSections/Navbar.astro'
import Ubicacion from '../sections/OurGymSections/ubicacion.astro'


---

<Layout title="otro">
	<Navbar />
	<main class="lg:max-w-5xl lg:mx-auto max-w-80 mx-auto" >
		<Ubicacion />
	</main>
 
</Layout>


