---
import Layout from '../layouts/Layout.astro';
import Navbar from '../sections/NavSections/Navbar.astro'
import Yoga from '../sections/Clases/yoga.astro'




---

<Layout title="Clases en Grupo">
	<Navbar />
	<main class="lg:max-w-7xl lg:mx-auto" >
     <Yoga />
	</main>
 
</Layout>


