---
import Layout from '../layouts/Layout.astro';
import PrincipalMain from '../sections/SectionsIndex/PrincipalMain.astro';
import InfoBenefits from '../sections/SectionsIndex/infoBenefits.astro'
import AfterBeforeInfo from '../sections/SectionsIndex/afterBeforeInfo.astro'
import Price from '../sections/SectionsIndex/price.astro'
import Ubicacion from '../sections/OurGymSections/ubicacion.astro'



---

<Layout title="Título del Layout">
    <PrincipalMain />
	<main >
        <Price/>
		<InfoBenefits />
		<AfterBeforeInfo />
		<Ubicacion />
	</main>
 
</Layout>


