---
import Layout from '../layouts/Layout.astro';
import InfoMain from '../sections/SectionsIndex/info.astro'
import PrincipalMain from '../sections/SectionsIndex/PrincipalMain.astro';
import InfoBenefits from '../sections/SectionsIndex/infoBenefits.astro'
import AfterBeforeInfo from '../sections/SectionsIndex/afterBeforeInfo.astro'
import Price from '../sections/SectionsIndex/price.astro'



---

<Layout title="Título del Layout">
    <PrincipalMain />
	<main >
       <Price/>
		<InfoMain />
		<InfoBenefits />
		<AfterBeforeInfo />
	</main>
 
</Layout>


