---
import Layout from '../layouts/Layout.astro';

import PrincipalMain from '../sections/PrincipalMain.astro';
---

<Layout title="Título del Layout">
    <PrincipalMain />
	<main >

	</main>
</Layout>


