---
import Layout from '../layouts/Layout.astro';
import InfoMain from '../sections/info.astro'
import PrincipalMain from '../sections/PrincipalMain.astro';
import InfoBenefits from '../sections/infoBenefits.astro'
import AfterBeforeInfo from '../sections/afterBeforeInfo.astro'
import Footer from '../sections/footer.astro';
import Price from '../sections/price.astro';


---

<Layout title="Título del Layout">
    <PrincipalMain />
	<main >
		<InfoMain />
		<InfoBenefits />
        <Price />
		<AfterBeforeInfo />
	</main>
	<Footer />
 
</Layout>


