---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="">
	<main>
		<h1 class="text-white font-black">
			Hola Mundo
		</h1>
	</main>
	
		
</Layout>


