<footer class="h-screen bg-cover bg-no-repeat  flex flex-col justify-end" style="background-image: url('https://i.postimg.cc/3w3tqMJt/footer.png');">
<div class="mb-52 ml-14 max-w-96">
    <h1 class="font-black text-primary text-6xl uppercase italic tracking-wide">¡Ponte en contacto hoy!</h1>
</div>
<div class="h-1/4 bg-primary grid grid-cols-3 p-9">
    <div>
      <h2 class="font-black italic text-2xl">DIRRECCIÓN</h2>
      <p class="tracking-wider text-lg my-1">Calle Cervantes, 34, Madrid, CP 28001</p>
    </div>
    <div>
       <h2  class="font-black italic text-2xl" >CORREO</h2>
       <p class="tracking-wider text-lg  my-1">hola@unsitiogenial.es</p>
    </div>
    <div>
        <h2  class="font-black italic text-2xl">TELÉFONO</h2>
        <p class="tracking-wider text-lg  my-1">923 456 789</p>
    </div>
</div>
</footer>